<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdkj.firstpro.modular.tag.mapper.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qdkj.firstpro.modular.tag.entity.Tag">
        <id column="id" property="id" />
        <result column="tag_name" property="tagName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", tag_name AS "tagName"
    </sql>


    <select id="customList" resultType="com.qdkj.firstpro.modular.tag.model.result.TagResult" parameterType="com.qdkj.firstpro.modular.tag.model.params.TagParam">
        select
        <include refid="Base_Column_List"/>
        from t_tag where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="com.qdkj.firstpro.modular.tag.model.params.TagParam">
        select
        <include refid="Base_Column_List"/>
        from t_tag where 1 = 1
    </select>

    <select id="customPageList" resultType="com.qdkj.firstpro.modular.tag.model.result.TagResult" parameterType="com.qdkj.firstpro.modular.tag.model.params.TagParam">
        select
        <include refid="Base_Column_List"/>
        from t_tag where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="com.qdkj.firstpro.modular.tag.model.params.TagParam">
        select
        <include refid="Base_Column_List"/>
        from t_tag where 1 = 1
    </select>

</mapper>
