@media screen and (min-width: 320px) {
    html {
        font-size: 100px;
    }
}
 
@media screen and (min-width: 360px) {
    html {
        font-size: 112.5px;
    }
}
 
@media screen and (min-width: 400px) {
    html {
        font-size: 125px;
    }
}
 
@media screen and (min-width: 440px) {
    html {
        font-size: 137.5px;
    }
}
 
@media screen and (min-width: 480px) {
    html {
        font-size: 150px;
    }
}
 
@media screen and (min-width: 640px) {
    html {
        font-size: 200px;
    }
}
 
html {
    font-size: 31.25vw;
}

.container-fluid {
	padding: 0;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
}


/*头部*/
#header_box {
	position: fixed;
	top: 0;
	width: 100%;
	background: #ffffff;
	z-index: 10;
}
#header {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 1.2rem;
	padding: 0 .3rem;
	border-bottom: 1px solid #e9e9e9;
/*	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	background: #ffffff;*/
}
.header_box {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
}
.logo_text {
	margin-left: .15rem;	
}
.logo_img {
	width: .7rem;
	height: .7rem;
}
.menu_img {
	width: .46rem;
	height: .36rem;
}
.menu_close_img {
	width: .36rem;
	height: .36rem;
}


/*导航*/
#menu_box {
	background: #ffffff;
	position: fixed;
	top: 2.2rem;
	bottom: 0;
	width: 100%;
	z-index: 10;
}
.menu_title {
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	height: 1rem;
	/*border-top: 1px solid #e9e9e9;*/
	border-bottom: 1px solid #e9e9e9;
	align-items: center;
	padding: 0 .3rem;
}
.menu_title > div a:first-child {
	width: .7rem;
	height: .4rem;
	display: block;
	background: url(../images/home.png);
	background-position: 0 center;
	background-repeat: no-repeat;
	background-size: .38rem;
	border-right: 1px solid #e9e9e9; 
	float: left;
	margin-right: .3rem;
}
.menu_title > div span,
.menu_title > div a {
	vertical-align: middle;
}
.menu_title > div a:hover {
	color: #337ab7;
}

.fenge {
	padding-right: .3rem;
	margin-right: .3rem;
	border-right: 1px solid #e9e9e9;
}
.menu_btn {
	width: 1.3rem;
	height: .6rem;
	background: #36bb81;
	font-size: .24rem;
	color: #ffffff;
	text-align: center;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	line-height: .6rem;
}

.menu_list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu_list li{width:50%;float:left;text-align:center;}
.menu_list li a {
	display: -webkit-flex;
	display: block;
	align-items: center;
	justify-content: space-between;
	height: 1rem;
	line-height:1rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid #e9e9e9;
	padding: 0 .3rem;

}
.menu_list li a{font-size:.3rem;color:#999;}
.menu_list li span {
	font-size: .3rem;
	color: #999999;
	text-align:center;
	padding-right:0.2rem;
}

.emptyBox {
	width: 100%;
	height: 2.2rem;
}




/*footer*/
#footer {
	background: #283c50;
}
#footer .code_box {
	padding-top: .7rem;
	padding-bottom: .7rem;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#footer .code_box > div {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 .35rem;
}
.img_box {
	border: 1px dashed #536373;
	padding: .1rem;
}
#footer > div img {
	width: 2.4rem;
	height: 2.4rem;
	padding: .1rem;
	background: #ffffff;
}
#footer p {
	line-height: .75rem;
	border-top: 1px dashed #536373;
	font-size: .2rem;
	color: #536373;
	text-align: center;
	margin: 0;
}


/*返回顶部*/
.backTop {
	position: fixed;
	bottom: 2rem;
	right: .5rem;
	width: .8rem;
	height: .8rem;
	background: #ffffff;
}
.backTop img {
	width: 100%;
}












/*修改input 占位符样式*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
    font-size: .3rem;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
    font-size: .3rem;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    font-size: .3rem;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
    font-size: .3rem;
}

/*border*/
.bor-rad-5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;	
}
.radius-50 {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;	
}
.radius-tl {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;	
}

.bor-t-1 {
	border-top: 1px solid #e9e9e9;
}
.bor-b-1 {
	border-bottom: 1px solid #e9e9e9;
}
.bor-tb-1 {
	border-top: 1px solid #e9e9e9;	
	border-bottom: 1px solid #e9e9e9;
}

.lt-sp-1 {
	letter-spacing: 1px;
}

/*边距*/
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}

.mb-20 {
	margin-bottom: .2rem;
}
.mb-70 {
	margin-bottom: .7rem;
}
.mt-100 {
	margin-top: 1rem;
}
.ptb-100 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.ptb-20 {
	padding-top: .2rem;
	padding-bottom: .2rem;
}

/*间距*/
.spacing {
	width: 100%;
	height: .2rem;
	background: #f2f3f4;
}

.more {
	width: .14rem;
	height: .26rem;
}

.mini-hg {
	min-height: 10rem;
}


/*size*/
.size-20 {
	font-size: .2rem;
}
.size-22 {
	font-size: .22rem;
}
.size-24 {
	font-size: .24rem;
}
.size-28 {
	font-size: .28rem;
}
.size-30 {
	font-size: .3rem;
}
.size-36 {
	font-size: .36rem;
}
.size-38 {
	font-size: .38rem;
}
.size-40 {
	font-size: .4rem;
}



/*color*/
.color-333 {
	color: #333333;
}
.color-666 {
	color: #666666;
}
.color-555 {
	color: #555555;
} 
.color-999 {
	color: #999999;
}
.color-ccc {
	color: #cccccc;
}
.color-white {
	color: #ffffff;
}
.color-active {
	color: #36bb81;
}
.color-ft {
	color: #536373;
}
.color-blue {
	color: #337ab7;
}
.color-td-1 {
	color: #82dfec;
}
.color-td-2 {
	color: #7fabf5;
}
.color-td-3 {
	color: #59bdf7;
}


/*background*/
.bg-white {
	background: #ffffff;
}
.bg-blue {
	background: #72b7f3;
}
.bg-yellow {
	background: #f99a61;
}
.bg-purple {
	background: #8593f8;
}
.bg-pink {
	background: #fb7e96;
}
.bg-red {
	background: #ff6363;
}
.bg-green {
	background: #46d38c;
}
.bg-td-1 {
	background: #82dfec;
}
.bg-td-2 {
	background: #7fabf5;
}
.bg-td-3 {
	background: #59bdf7;
}



@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.f48 {
    font-size: 0.48rem;
}


.foot{padding: 0.3rem 0; position: fixed; border-top:1px solid #ccc; bottom: -10px; left: 0px; width: 100%; z-index: 10;}
.foot_nav li{ float: left; width: 20%; line-height: 1.2; text-align:center; list-style:none;}
.foot_nav li a ,.foot_nav li i, .foot_nav li span{ display: block; color:#646464;}
.foot_nav li a:hover i ,.foot_nav li.cur i{ color: #36bb81; }

.zcxy{height:300px;OVERFLOW-Y: auto; OVERFLOW-X:hidden;}
