/* 隐藏所有checkbox */
input[type='checkbox'] {
  display: none;
}

label {
	margin-right:0.1rem;
  /*display: inline-block;
  width: 36px;
  height: 36px;
  position: relative;
  background:#fff;
  border:2px solid #ccc;
  background-position: 0 0px;
  -webkit-transition: background 0.5s linear;*/
}

label::before {
    content: "";
    display: inline-block;
    width:.4rem;
    height: .4rem;
	background:url(../images/ty0.png);
	background-size:100%;
    vertical-align: middle;
    -webkit-box-sizing:border-box;
  -webkit-transition:background ease-in .5s
}
input[type="checkbox"]:checked+label::before{
	background:url(../images/ty.png);
	background-size:100%;
}
.d_zc_info span{font-size:0.3rem; vertical-align:middle;}

.d_up_d{
	width:6.3rem;
	margin:0 auto;
}
a{cursor: pointer}
            .btn:hover{background-color: #e95a00;text-decoration: none}
            ul,li{list-style: none;padding:0;margin:0}
            .ul_pics{float:left; margin-bottom:0.1rem;}
            /*******图片样式*********/
            .ul_pics li,.jia{float:left;width:2rem;height:2rem;border:1px solid #ddd;margin:0 0.1rem 0.1rem 0}  
            .progress{position:relative;padding: 1px; border-radius:3px; margin:60px 0 0 0;} 
            .bar {background-color: green; display:block; width:0%; height:20px; border-radius:3px; } 
            .percent{position:absolute; height:20px; display:inline-block;top:3px; left:2%; color:#fff }
            .clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0}
            *:first-child+html .clearfix{zoom:1}
            .img_common{width:100%;height: 100%}
			#ul_pics li input{cursor:pointer !important; display:none;}